/* Min width */
@media (min-width: 992px){
    #header .nav-link{
        margin-left: 15px;
        margin-right: 15px;
    }
}
/* Vai usar o tamanho medio */
@media (max-width: 991.98px) {
#header .navbar-collapse{
    width: 100%;
}
#contato .email img{
    width: 90px;
    top: -40;
}
}
@media (max-width: 767.98px){
    #servicos a.destaque .img-container{
        height: 120px;

    }
    #servicos a.destaque .img-container img{
        max-height: 120px;
    }
    #clientes .cliente-texto .imagem{
        padding: 10px 0 30px 0;
    }
    #clientes .cliente-texto .imagem img{
        margin-left: 19%;
        max-width: 150px;
    }
    #contato .email{
        padding: 60px 30px 50px 30px;
    }
    #contato .email form{
        width: 100%;
        flex-direction: column;
    }
    #contato ul{
        padding-top: 30px;
        justify-content: center;
    }
}